<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="managent.Properties.Settings.EmployeesdbConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\11\Employeesdb.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>